@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');

:root {
    --border-color: Black;
    --background-color: #ccc;
    --text-color: black;
}

/* for everything */
* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    font-family: 'Overpass', sans-serif;
    /* font-family: 'Lato', sans-serif; */
}

.draggable-list {
    /* border: 1px solid var(--border-color); */
    border: 1px solid #A6CFE8;
    background-color: white;
    color: var(--text-color);
    padding: 0;
    list-style-type: none;
    width: 65%;
    margin: 0 auto;
    font-size: 11px;
    font-family: 'Overpass', sans-serif;
}

.draggable-list li {
    /* background-color: purple; */
    display: flex;
    flex: 1;
    color: #1C3879;
}

.draggable-list li:not(:last-of-type) {
    /* border-bottom: 1px solid var(--border-color); */
    border-bottom: 1px solid #A6CFE8;
}  

.draggable-list .number {
    /* background-color: var(--background-color); */
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    height: 40px;
    width: 40px;
    font-family: 'Overpass', sans-serif;
    color: #1C3879;
}

.draggable-list li.over .draggable {
    background-color: #eaeaea;
}

.draggable-list .language-name {
    margin: 0 20px 0 0;
    background-color: white;
}

.draggable-list li.right .language-name {
    color: forestgreen;
    font-size: 10px;

}

.draggable-list li.wrong .language-name {
    color: #ff3838;
    font-size: 10px;
}

.draggable {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px 15px 15px;
    flex: 1;
}

.check-btn {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    font-size: 15px;
    padding: 10px 20px;
    margin: 15px 100px;
    font-size: 10px;
    font-family: 'Overpass', sans-serif;
}

.check-btn {
    transform: scale(0.98);
}

.check-btn:focus {
    outline: none;
}

.split {
    height: 100%;
    /* width: 50%; */
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    width: 40%;
    font-size: 15px;
    color: #1C3879;
    /* background-color: #f1f7fb; */
  }
  
  /* Control the right side */
  .right {
    right: 0;
    width: 60%;
    font-size: 15px;
    padding-top: 0;

  }
  
  .content-left {
      width: 80%;
      margin: 0 auto;
  }

  .content-right {
    width: 90%;
    margin: 0 auto;
}

  .title {
    text-align: center;
    font-size: 20px;
    /* color: #6c8594; */
    font-weight: bold;
  }

  /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: 'Overpass', sans-serif;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    margin-bottom: 30px;
  }

  .instruction {
      text-align: center;
      font-size: 10px;
      margin-bottom: 20px;
  }

  .assembly-language-image {
      width: 50%;
  }

  .programming {
      width: 100%;
  }

  .hello-world {
      width: 100%;
  }

  .C, .Java, .Python, .Javascript, .R, .TS {
    width: 30%; 
  }

  .c-language-source {
      text-decoration: none;
  }

 .tablinks, .tabcontent {
     font-size: 10px;
 }

 .fa-grip-lines {
    font-size: 10px; 
 }